<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolateygui"/>
  <package id="7zip"/>
  <package id="audacity"/>
  <package id="ccleaner"/>
  <package id="qttabbar"/>
  <package id="deluge"/>
  <package id="FoxitReader"/>
  <package id="Firefox"/>
  <package id="intellijidea-community"/>
  <package id="jdk8"/>
  <package id="notepadplusplus"/>
  <!-- Not working -->
  <!-- <package id="spotify"/> -->
  <package id="vlc"/>
  <!-- Not working -->
  <!-- <package id="vcxsrv"/> -->
  <package id="wsl"/>
  <!-- Not yet available -->
  <!-- <package id="wsl-ubuntu-1804"/> -->
  <package id="microsoft-windows-terminal"/>
  <package id="windirstat"/>
  <package id="dropbox"/>
  <package id="boostnote"/>
  <package id="winscp"/>
  <package id="libreoffice-fresh"/>
  <package id="VirtualBox"/>
  <package id="vagrant"/>
  <package id="procexp"/>
</packages>
