<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Multimedia -->  
  <!-- ! Not working ! -->
  <!-- <package id="spotify"/> -->
  <package id="Firefox"/>
  <package id="vlc"/>
  <package id="audacity"/>
  <package id="deluge"/>

  <!-- Office software -->
  <package id="7zip"/>
  <package id="qttabbar"/>
  <package id="dropbox"/>
  <package id="boostnote"/>
  <package id="libreoffice-fresh"/>
  <package id="FoxitReader"/>
  <package id="notepadplusplus"/>

  <!-- System management tools -->
  <package id="chocolateygui"/>
  <package id="windirstat"/>
  <package id="ccleaner"/>
  <package id="procexp"/>
    
  <!-- Development -->
  <package id="intellijidea-community"/>
  <package id="jdk8"/>
  <package id="HxD"/>
  <package id="winscp"/>
  <!-- ! Not working ! -->
  <!-- <package id="vcxsrv"/> -->
  <package id="wsl"/>
  <!-- ! Not yet available ! -->
  <!-- <package id="wsl-ubuntu-1804"/> -->
  <package id="microsoft-windows-terminal"/>
  <package id="VirtualBox"/>
  <package id="vagrant"/>
  <package id="vscode"/>
</packages>
