<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Multimedia -->  
  <!-- ! Not working ! -->
  <!-- <package id="spotify"/> -->
  <package id="Firefox"/>
  <package id="vlc"/>
  <package id="audacity"/>
  <package id="deluge"/>
  <package id="musicbee"/>

  <!-- Office software -->
  <package id="7zip"/>
  <package id="qttabbar"/>
  <package id="dropbox"/>
  <package id="libreoffice-fresh"/>
  <package id="FoxitReader"/>
  <package id="notepadplusplus"/>

  <!-- System management tools -->
  <package id="chocolateygui"/>
  <package id="windirstat"/>
  <package id="procexp"/>
    
  <!-- Development -->
  <package id="intellijidea-community"/>
  <package id="jdk8"/>
  <package id="javadecompiler-gui"/>
  <package id="HxD"/>
  <!-- ! Not working ! -->
  <!-- <package id="vcxsrv"/> -->
  <package id="wsl2"/>
  <package id="wsl-ubuntu-2004"/>
  <package id="microsoft-windows-terminal"/>
  <package id="mobaxterm"/>
  <package id="kubernetes-cli"/>
  <package id="minikube"/>
  <package id="k9s"/>
  <package id="openssl.light"/>
</packages>
