<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Multimedia -->  
  <package id="spotify"/>
  <package id="Firefox"/>
  <package id="vlc"/>

  <!-- Office software -->
  <package id="7zip"/>
  <package id="explorerplusplus"/>
  <package id="dropbox"/>
  <package id="notepadplusplus"/>

  <!-- System management tools -->
  <package id="chocolateygui"/>
  <package id="windirstat"/>
  <package id="procexp"/>
  <package id="keepass"/>
    
  <!-- Development -->
  <package id="javadecompiler-gui"/>
  <package id="HxD"/>
  <package id="vcxsrv"/>
  <package id="wsl"/>
  <package id="wsl-ubuntu-2004"/>
  <package id="microsoft-windows-terminal"/>
  <package id="mobaxterm"/>
  <package id="kubernetes-cli"/>
  <package id="minikube"/>
  <package id="k9s"/>
  <package id="openssl.light"/>
</packages>
