[global_config]
  focus = system
  title_transmit_bg_color = "#dc322f"
  title_inactive_bg_color = "#657b83"
  enabled_plugins = TestPlugin, TerminatorThemes, TerminalShot, LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  always_split_with_profile = True
  title_use_system_font = False
  title_font = Hack Nerd Font 9
[keybindings]
[profiles]
  [[default]]
    allow_bold = False
    background_color = "#002b36"
    cursor_color = "#93a1a1"
    font = Hack Nerd Font 9
    foreground_color = "#93a1a1"
    palette = "#000000:#cd0000:#00cd00:#cdcd00:#0000cd:#cd00cd:#00cdcd:#faebd7:#404040:#ff0000:#00ff00:#ffff00:#0000ff:#ff00ff:#00ffff:#ffffff"
    use_system_font = False
    copy_on_selection = True
  [[Aci]]
    allow_bold = False
    background_color = "#0d1926"
    cursor_color = "#c4e9ff"
    font = Hack 9
    foreground_color = "#b4e1fd"
    palette = "#000000:#cd0000:#00cd00:#cdcd00:#0000cd:#cd00cd:#00cdcd:#faebd7:#404064:#ff0000:#00ff00:#ffff00:#0000ff:#ff00ff:#00ffff:#ffffff"
    use_system_font = False
    copy_on_selection = True
  [[Base16 Solarized Dark]]
    background_color = "#002b36"
    cursor_color = "#93a1a1"
    font = Hack 9
    foreground_color = "#93a1a1"
    palette = "#002b36:#dc322f:#859900:#b58900:#268bd2:#6c71c4:#2aa198:#93a1a1:#657b83:#dc322f:#859900:#b58900:#268bd2:#6c71c4:#2aa198:#fdf6e3"
    use_system_font = False
    copy_on_selection = True
  [[Dracula]]
    allow_bold = False
    background_color = "#1e1f29"
    cursor_color = "#f8f8f2"
    font = DejaVu Sans Mono 10
    foreground_color = "#f8f8f2"
    palette = "#44475a:#ff5555:#50fa7b:#f1fa8c:#8be9fd:#bd93f9:#ff79c6:#94a3a5:#000000:#ff5555:#50fa7b:#f1fa8c:#8be9fd:#bd93f9:#ff79c6:#ffffff"
    copy_on_selection = True
  [[Monokai Soda]]
    allow_bold = False
    background_color = "#1a1a1a"
    cursor_color = "#f6f7ec"
    font = DejaVu Sans Mono 10
    foreground_color = "#c4c5b5"
    palette = "#1a1a1a:#f4005f:#98e024:#fa8419:#9d65ff:#f4005f:#58d1eb:#c4c5b5:#625e4c:#f4005f:#98e024:#e0d561:#9d65ff:#f4005f:#58d1eb:#f6f6ef"
    copy_on_selection = True
  [[Nebula]]
    background_color = "#0d1926"
    cursor_color = "#00e8c6"
    font = Hack Nerd Font 9
    foreground_color = "#ffffff"
    scrollback_lines = 5000
    palette = "#2e3436:#ff007a:#84ff39:#f3d56e:#7cb7ff:#c74ded:#00e8c6:#d3d7cf:#555753:#ff007a:#84ff39:#f3d56e:#7cb7ff:#c74ded:#00e8c6:#eeeeec"
    use_system_font = False
    copy_on_selection = True
  [[Snazzy]]
    allow_bold = False
    background_color = "#242424"
    cursor_color = "#97979b"
    font = DejaVu Sans Mono 10
    foreground_color = "#eff0eb"
    palette = "#282a36:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#f1f1f0:#686868:#ff5c57:#5af78e:#f3f99d:#57c7ff:#ff6ac1:#9aedfe:#eff0eb"
    copy_on_selection = True
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = Nebula
      type = Terminal
    [[[window0]]]
      parent = ""
      profile = Nebula
      type = Window
[plugins]
